---
import ExternalIcon from "./icons/ExternalIcon.astro"

interface Props {
  url: string
  size?: string
}

const { url, size = "14" } = Astro.props
---

<a
  class="no-underline inline-flex items-center text-ink hover:text-green"
  href={url}
  target="_blank"
  aria-label="Visita il sito"
>
  <ExternalIcon size={size} />
</a>
