---
import FeedActions from "./FeedActions.astro"
import type { Feed } from "../utils/feeds"

interface Props {
  feed: Feed
  linked?: boolean
  titleClass?: string
}

const { feed, linked = true, titleClass = "" } = Astro.props
---

{
  linked ? (
    <a
      class:list={[
        "flex-1 text-ink no-underline hover:underline hover:text-green-h",
        titleClass,
      ]}
      href={`/sites/${feed.slug}/`}
    >
      {feed.title}
    </a>
  ) : (
    <span class:list={["flex-1", titleClass]}>{feed.title}</span>
  )
}
<FeedActions feed={feed} />
