---
import WarningIcon from "./icons/WarningIcon.astro"
import { reportUrl } from "../utils/feeds"

interface Props {
  siteUrl: string
  size?: string
}

const { siteUrl, size = "14" } = Astro.props
const issueUrl = reportUrl(siteUrl)
---

<a
  class="no-underline inline-flex items-center text-border-d hover:text-green"
  href={issueUrl}
  target="_blank"
  aria-label="Segnala questo sito"
>
  <WarningIcon size={size} />
</a>
