---
interface Props {
  message: string
}

const { message } = Astro.props
---

<div class="relative w-fit">
  <div class="peer">
    <slot />
  </div>

  <span
    class="bottom-full font-medium left-1/2 -translate-x-1/2 absolute text-card text-xs bg-green-h opacity-0 px-2 py-1 rounded-md w-max -translate-y-0.5 peer-hover:-translate-y-1 peer-hover:opacity-100 transition-all"
  >
    {message}
  </span>
</div>
